.buy-section {
  &__container {
    background-color: $color-base-dark;
    padding: 40px 12px 70px;
  }
  &__photo {
    width: 100vw;
  }
  &__title {
    color: $color-base-light;
    font-size: 30px;
    font-weight: normal;
    max-width: 296px;
  }
  &__accent-title {
    color: $color-accent;
    font-weight: normal;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    padding: 25px 0px;
  }
  &__item {
    display: flex;
    gap: 18px;
    fill: $color-base-middle;
    color: $color-base-light;
    font-size: 16px;
    font-family: Roboto;
    padding-bottom: 15px;
  }
  &__platforms {
    fill: $color-base-middle;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
