.hero-section {
  background-image: url(/image/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  &__container {
    padding-top: 556px;
    display: flex;
    justify-content: center;
    margin: auto;
    @media screen and (min-width: $bp-tablet) {
      padding-top: 635px;
      padding-left: 33%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    background-color: $color-base-middle;
    padding: 38px 30px;
    clip-path: polygon(10% 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0 15%);
    @media screen and (min-width: $bp-tablet) {
      max-width: 624px;
    }
  }
  &__title {
    font-family: Archangelsk;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    padding-bottom: 25px;
    color: $color-base-dark;
    max-width: 295px;
    @media screen and (min-width: $bp-tablet) {
      max-width: 484px;
      font-size: 60px;
      font-weight: normal;
    }
  }
}
